name: Deploy pages

on:
  workflow_dispatch:
  push:
    branches:
      - main
permissions: 
  contents: write

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: nightly-2024-12-25
        components: rust-src, clippy, rustfmt
    - name: Install cargo-binutils from crates.io
      uses: baptiste0928/cargo-install@v3
      with:
        crate: cargo-binutils
    - uses: ./.github/workflows/actions/setup-musl
    - uses: insightsengineering/pip-action@v2
      with:
        packages: |
          lief
          capstone
    - name: Build Environment
      run: |
        mkdir -p .env
        wget -qO- https://github.com/yfblock/rel4-kernel-autobuild/releases/download/release-2025-03-26/seL4.tar.gz | gunzip | tar -xvf - -C .env --strip-components 1
        wget -qO- https://github.com/yfblock/rel4-kernel-autobuild/releases/download/release-2025-03-06/aarch64.tgz | tar -xf - -C .env
        mkdir -p testcases
        ./tools/modify-multi.py .env/aarch64 testcases
    - run: tools/app-parser.py kernel-thread uart-thread block-thread fs-thread test-demo
    - name: generate doc
      run: make doc
    - name: Deploy to GitHub Pages
      uses: crazy-max/ghaction-github-pages@v4
      with:
        target_branch: gh-pages
        build_dir: target/aarch64-sel4/doc
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
